@import "tailwindcss";

@font-face{
  font-family: "Superclarendon";
  src: url("/fonts/Superclarendon.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
 }
 @layer base {
  html {
    scroll-behavior: smooth;
  }
 }
:root {
  --background: #ffffff;
  

  /* Font variables */
  --font-superc: "Superclarendon", serif;
  --font-suez: "Suez One", serif;
  --font-source: "Source Serif Pro", serif;
  --font-averia: "Averia Serif Libre", serif;
  --font-averiaSans: "Averia Sans Libre" , serif;
  --font-syne: "Syne Mono", serif;
  --font-ubuntu: "Ubuntu Condensed", sans-serif;
  --font-titan: "Titan One", serif;
  --font-trykker: "Trykker", sans-serif;
  --font-tilt: "Tilt Warp", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-superc);
   margin: 0;
  padding: 0;
}
