
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Suez+One&family=Syne+Mono&family=Tilt+Warp&family=Titan+One&family=Trykker&family=Ubuntu+Condensed&display=swap')

@import "tailwindcss";

@font-face{
  font-family: "Superclarendon";
  src: url("/fonts/Superclarendon.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
 }
 .font-suez   { font-family: "Suez One", serif; }
.font-source { font-family: "Source Serif Pro", serif; }
.font-averia { font-family: "Averia Serif Libre", serif; }
.font-syne   { font-family: "Syne Mono", monospace; }
.font-ubuntu { font-family: "Ubuntu Condensed", sans-serif; }
.font-titan  { font-family: "Titan One", serif; }
.font-trykker{ font-family: "Trykker", sans-serif; }
.font-superc { font-family: "Superclarendon", serif; }
.font-tilt   { font-family: "Tilt Warp", serif; }